/*ID selector*/
#container{
    margin: 300px;
}

/* Class selector */
.box{
    border: 2px solid red;
    width: 670px;
    padding: 20px;
}

/*element selector*/
h1 {
    color: blue;
    font-size: 100px;
}

strong{
    color: red;
}