*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{ /*raiz*/
    --text-color: white;
    --bg-img: url(assets/bg-mobile.jpg);
    --bg-img-switch: url(assets/moon-stars.svg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
}

.light{
    --text-color: black;
    --bg-img: url(assets/bg-mobile-light.jpg);
    --bg-img-switch: url(assets/sun.svg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
}

body{

/*  background-image: url(assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
*/

    background: var(--bg-img) no-repeat top center /cover;
    height: 100vh;
}

body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container{
    width: 100%;
    max-width: 588px;
    /*
    margin-top: 56px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    */
    margin: 56px auto 0px auto;
    padding: 0px 24px;
}

/*profile*/

/* img é um elemento inline, por isso margin: auto não funciona
    para fazer funcionar, é necessário alterar seu display para block
*/

/* ou podemos utilizar o text-align para definir que tudo dentro de profile fique centralizado */
#profile{
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/*switch*/

#switch{
    display: flex;
    width: 64px;
    margin: 4px auto;
    position: relative;
}

#switch button{
    height: 32px;
    width: 32px;
    background: white var(--bg-img-switch) no-repeat center;
    border-radius: 50%;
    border: 0px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: slide_back 0.4s forwards;
}

.light #switch button{
    animation: slide_in 0.4s forwards;
}

#switch button:hover{
    outline: 8px solid var(--highlight-color);
}

#switch span{
    display: block;
    height: 24px;
    width: 64px;
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    background: var(--surface-color);
    backdrop-filter: blur(4px);
}

/*links*/

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px; /*tem que ser display flex*/
    padding: 24px 0;
}

ul li a{
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: var(--surface-color);
    backdrop-filter: blur(4px); /*provoca um embaçado*/

    font-weight: 500;
    text-decoration: none;

    transition: background 0.2s;
}

/*pseudo-selector; o hover define as configurações da caixa quando passa o mouse em cima*/
ul li a:hover{
    border: 1.5px solid var(--text-color);
    background: var(--surface-color-hover);
}

/*social links*/

#social_links{
    padding: 24px 0;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

#social_links a{
    padding: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
}

#social_links a:hover{
    background: var(--highlight-color);
}

/*footer*/

footer{
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

/*media queries*/
/*adicionar ajuste do fundo para diferentes dispositivos*/

@media (min-width: 700px){
    :root{
        --bg-img: url(assets/bg-desktop.jpg);
    }

    .light{
        --bg-img: url(assets/bg-desktop-light.jpg);
    }
}

/*animations*/

@keyframes slide_in{
    from{
        left: 0;
    }
    to{
        left: 53.5%;
    }
}

@keyframes slide_back {
    from{
        left: 53.5%
    }
    to{
        left: 0;
    }
}